/* styles.css */
:root {
    --primary-color: #402E7A; /* For header and sidebar */
    --secondary-color: #3DC2EC; /* For the rest of the background */
    --text-color: #FFFFFF; /* Beautiful text color */
    --text-color-dark: #000000; /* Dark text color for contrast */
    --header-color: #FF6F61; /* Header color for the table */
    --table-row-color: #F5F5F5; /* Background color for table rows */
  }
  
  body {
    background-color: var(--secondary-color);
    color: var(--text-color-dark);
  }
  
  header, .sidebar {
    background-color: var(--primary-color);
    color: var(--text-color);
  }
  
  input, select, button {
    color: var(--text-color-dark);
  }
  
  input::placeholder, select::placeholder {
    color: var(--text-color-dark);
  }
  
  table th {
    background-color: var(--header-color);
    color: var(--text-color);
  }
  
  table tr:nth-child(even) {
    background-color: var(--table-row-color);
  }
  
  table tr:nth-child(odd) {
    background-color: rgb(209, 209, 209);
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 0.5rem;
  }
  
  .search-bar input {
    border: none;
    background-color: transparent;
    color: var(--text-color);
    flex: 1;
  }
  
  
  .search-bar svg {
    margin-right: 0.5rem;
    color: var(--text-color);
  }
  
  .stdform,.fform,.tform{
    background-color: #7acfe9;
  }





  /* src/styles/AboutMePage.css */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--secondary-color);
  color: var(--text-color-dark);
  padding: 20px;
}

.about-card {
  /* background-color: #ffffff; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.about-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about-image {
  margin-bottom: 20px;
  cursor: pointer;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.profile-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.about-description {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #d6fcf7;
  font-weight: bolder;
}

